dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# file da ignorare per latex
*.aux
*.dvi
*.log
*.out
*.synctex.gz

#zip da ignorare
parte 3/ProgettoLC parte3 Gruppo2.zip

# file da ignorare in git per ogni maintainer
# ================   igor  ================
hsaltro

# ================   red   ================


# ================ talissa ================
